/* 
    Document   : default
    Created on : 08-Jul-2013, 19:34:13
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    margin: 0 auto;
}

.error {
    color: red;
    font-size: 0.7em;
}

